.edit_profile.modal{
	z-index: 5;
}

.edit_profile .modal-content{
	overflow: initial;
	width: 70%;
}

.edit_profile .modal-header .close{
	font-size: 2em;
	top: 6px;
	right: 10px;
	color: white;
	opacity: 0.8em;
}

.edit_profile .modal-header .close:hover{
	opacity: 1;
}

.edit_profile .modal-header{
	padding: 0;
	background-color: #00BCD4;
}

.edit_profile .modal-header h2{
	font-family: "Gotham Light";
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 1em;
	margin: 10px 0;
	color: white;
}

#output_cover,
#output_cover2{
	object-fit: cover;
	object-position: center;
	width: 100%;
	margin: 0;
	height: 250px;
}

#output_cover:hover + #output_profile{
	opacity: 0.3;
}

/*#output_profile{
	object-fit: cover;
	object-position: center;
	width: 150px;
	height: 150px;
	border-radius: 5px;
	margin: -290px 0 0 70px;
	transition: 0.4s;
	border: none;
}
*/
#output_profile{
	object-fit: cover;
	object-position: center;
	width: 388px;
	height: 388px;
	transition: 0.4s;
	border: none;
}

.edit_profile .modal-body{
	overflow: auto;
	background-color: #ECEFF1;
	padding: 5px;
}

.edit_profile .modal-body form{
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	border-radius: 5px;
	padding: 0;
	box-sizing: border-box;
}

.edit_profile .modal-body form textarea{
	width: 100%;
	box-sizing: border-box;
	height: 200px;
	padding: 20px;
	resize: none;
	border: 1px solid #DDD;
	margin-bottom: 5px;
	color: #777;
	transition: 0.4s;
}

.edit_profile .modal-body form textarea:focus,
.edit_profile .modal-body form textarea:active{
	outline: none;
	box-shadow: 0 0 5px rgba(0,184,212 ,0.8);
	border-color: rgba(0,151,167 ,0.5);
}

.edit_profile .modal-body form div{
	width: 100%;
}

#EditAll input[type=submit],
#EditProfilePicture input[type=submit],
#EditCoverPhoto input[type=submit],
#EditDescription input[type=submit]{
	background-color: #00BCD4;
	color: white;
	font-family: "Gotham Light";
	font-weight: bold;
	font-size: 1em;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	padding: 5px 15px;
	display: block;
	width: 100%;
	margin: 0;
	text-align: center;
}

#EditAll input[type=submit]:hover,
#EditProfilePicture input[type=submit]:hover,
#EditCoverPhoto input[type=submit]:hover,
#EditDescription input[type=submit]:hover{
	background-color: #00E5FF;
}

.edit_profile .modal-body form div input[type=submit]{
	padding: 10px;
}

#EditProfilePicture > .modal-content{
	width: 400px;
}

#EditProfilePicture .modal-body{
	padding: 5px;
}

#EditProfilePicture form{
	padding: 0;
	margin: 0;
	width: 100%;
}

#EditDescription > .modal-content{
	width: 30%;
}

#EditDescription form{
	margin: 0;
	width: 100%;
}

#EditProfilePicture,
#EditCoverPhoto,
#EditDescription{
	display: none;
	justify-content: center;
	align-items: center;
}

/*#EditProfilePicture .modal-content{
	max-height: 80%;
}
#EditCoverPhoto .modal-content{

}
#EditDescription .modal-content{

}*/






