.modal-content{
	overflow: initial;
	width: 70%;
}

.modal-header{
	padding: 0;
	background-color: #00BCD4;
}

.modal-header h2{
	font-family: "Gotham Light";
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 1em;
	margin: 10px 0;
	color: white;
}

#output_cover,
#output_cover2{
	object-fit: cover;
	object-position: center;
	width: 98%;
	margin: 1%;
	height: 250px;
	border-radius: 5px;
}

#output_cover:hover + #output_profile{
	opacity: 0.3;
}

#output_profile{
	object-fit: cover;
	object-position: center;
	width: 150px;
	height: 150px;
	border-radius: 5px;
	margin: -290px 0 0 70px;
	transition: 0.4s;
	border: none;
}

#output_profile2{
	object-fit: cover;
	object-position: center;
	width: 388px;
	height: 388px;
	transition: 0.4s;
	border: none;
}

#output_profile:hover{
	transform: scale(1.1, 1.1);
}

.modal-body{
	overflow: auto;
	background-color: #ECEFF1;
	padding: 0;
}

.modal-body form{
	display: inline-flex;
	flex-direction: column;
	width: 98%;
	margin: -1% 1% 1% 1%;
	border-radius: 5px;
	padding: 1% 24% 1% 24%;
	box-sizing: border-box;
	background-color: white;
}

.modal-body form textarea{
	width: 100%;
	box-sizing: border-box;
	height: 100px;
	padding: 20px;
	resize: none;
	border: 1px solid #DDD;
	color: #777;
	transition: 0.4s;
}

.modal-body form textarea:focus,
.modal-body form textarea:active{
	outline: none;
	box-shadow: 0 0 5px rgba(0,184,212 ,0.8);
	border-color: rgba(0,151,167 ,0.5);
}

.modal-body form div{
	width: 100%;
}

.modal-body form div input,
.modal-body form div label{
	padding: 10px;
	cursor: pointer;
	text-align: center;
}


.upload,
#EditAll input[type=submit],
#EditProfilePicture input[type=submit],
#EditCoverPhoto input[type=submit],
#EditDescription input[type=submit]{
	background-color: #0097A7;
	color: white;
	font-family: "Gotham Light";
	font-weight: bold;
	font-size: 0.8em;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	padding: 10px 15px;
	display: block;
	width: 100%;
	margin: 5px 0 0 0;
	text-align: center;
}

.modal-body form div input[type=submit]{
	padding: 10px;
}

.option-buttons input,
.option-buttons label{
	transition: 0.4s;
}

.option-buttons input:hover,
.option-buttons label:hover{
	background-color: #4DD0E1!important;
	box-shadow: 0 0 10px rgba(0,96,100 ,0.3);
}

#EditProfilePicture > .modal-content{
	width: 400px;
}

#EditProfilePicture .modal-body{
	padding: 5px;
}

#EditProfilePicture form{
	padding: 0;
	margin: 0;
	width: 100%;
}

#EditDescription > .modal-content{
	width: 30%;
}

#EditDescription form{
	margin: 0;
	padding: 5px;
	width: 100%;
}

.modal-body form input[type=file]{
	display: hidden;
	/*opacity:0;*/
	/*margin-top:-30px;*/
	width: 100%;
	padding: 0;
	text-align: center;
}








