.gal{
	margin: 62px auto 30px auto;
	background-color: white;
	padding: 3px;
	width: 60%;
}

h2{
	font-family: "Gotham Light";
	font-weight: bold;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	width: 99%;
	background-color: #0097A7;
	padding: 20px;
	text-align: center;
	color: #eee;
	margin: 20px 0.5% 20px 0.5%;
}

.flex-images{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.gal-image{
	height: 260px;
	width: 260px;
	object-position: center;
	object-fit: cover;
	margin-bottom: 10px;
}