/*<div id = "navBar">
	<h1>TOURISTA!</h1>
	<form action = "test.html" method = "get">
		<input type = "text">
		<input type = "submit" value = "SEARCH">
	</form>
	<ul id = "navList">
		<li><a href="#"> FEED </a></li>
		<li><a href="#"> VISITS </a></li>
		<li><a href="#"> STARED PLACES </a></li>
		<li><a href="#"> NOTIFICATIONS </a></li>
		<li> HELLO USER! </li>
		<li><a href="#"> LOG OUT </a></li>
	</ul>
</div>*/

body{
	background-color: #ECEFF1;
	margin: 0;
}

#navBar{
	background-color: white;
	display: inline-flex;
	width: 100%;
}

#navBar img{
	height: 50px;
	width: 50px;
	object-position: center;
	object-fit: cover;
	box-sizing: border-box;
	margin: 0;
	border-radius: 2px;
}

#navBar h1{
	font-family: "Gotham Medium";
	font-size: 20px;
	letter-spacing: 5px;
	color: #666;
	margin-left: 10px;
	margin-top: 10px;
}

#navBar h1 span{
	font-family: "Arial";
	font-size: 12px;
	letter-spacing: 1px;
	color: #777;
}

#navList{
	display: inline-flex;
	justify-content: center;
	align-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: auto;
}

#navList li{
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#navList > li > a{
	text-decoration: none;
	display: block;
	height: 100%;
	padding: 0 10px;
	border: solid rgba(0,0,0,0);
	border-width: 0 0 2px 0;
	text-align: center;
	vertical-align: middle;
	font-family: "Gotham Medium";
	font-size: 14px;
	letter-spacing: 2px;
	color: #777;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	transition: 0.2s;
}

#navList > li > a.image-list{
	padding: 0;
}

#navList > li > a:hover{
	border-color: #4DD0E1;
	text-decoration: none;
}

#navList > li > a:focus{
	text-decoration: none;
}

#navList > li > a.active{
	border-color: #00BCD4;
	background-color: #555;
	color: white!important;
	cursor: default;
}

#navBar form{
	margin-left: 5%;
	height: 50px;
	width: 28.25%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#navBar form input[type=text]{
	color: #888;
	border-style: none;
	padding: 5px 10px;
	background-color: #ECEFF1;
	width: 70%;
	border-radius: 5px;
	border: 2px solid rgba(0,0,0,0);
	transition: 0.2s;
	font-family: Arial;
	font-size: 1em;
	letter-spacing: 0.05em;
}

#navBar form input[type=text]:active,
#navBar form input[type=text]:focus{
	outline: none;
	border: none;
	border: 2px solid #4DD0E1;
}

#navBar .glyphicon{
	margin: -2px 3px 0 0;
	opacity: 0;
	transform: scale(0,0);
	transition: 0.2s;
}

#navBar a.active{
	width: 100%;
}

#navBar a.active .glyphicon,
#navBar a.active:hover .glyphicon{
	display: none;
}

#navBar a:hover .glyphicon{
	opacity: 1;
	transform: scale(1,1);
}


/*#navBar form input[type=submit]{
	box-sizing: border-box;
	font-family: "Gotham Book";
	letter-spacing: 2px;
	color: white;
	background-color: #0097A7;
	padding: 7px;
	transition: 0.4s;
	box-sizing: border-box;
	border-style: none;
	margin-left: -5px;
	border-radius: 0 5px 5px 0;
}*/

