.notif-container{
	background-color: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	width: 50%;
	margin: 20px auto 0 auto;
	padding: 5px;
	font-family: "Gotham Light";
	color: #666;
	height: 85px;
	overflow: hidden;
}

.user-photo{
	max-height: 75px;
	float: left;
	margin-right: 5px;
}

.username{
	font-family: "Gotham Medium";
	color: #555;
	font-size: 1.3em;
}

.time-stamp{
	color: #CCC;
	font-size: 0.8em;
	font-family: "Arial";
}

p{
	font-family: "Arial";
	color: #888;
}

.close{
	margin: 0 5px 0 5px;
	transition: 0.2s;
}

.close:hover{
	transform: scale(1.3,1.3);
}

.close:focus,
.close:active{
	outline: none;
}

.view{
	margin-left: 80px;
	display: block;
	width: 20%;
	background-color: #00BCD4;
	color: white;
	text-transform: uppercase;
	font-family: "Gotham Light";
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	transition: 0.2s;
	z-index: -1;
	transform: translate(0, 10px);
	border-radius: 2px;
}

.notif-container:hover > .view{
	transform: translate(0, -20px);
}

.view:hover{
	opacity: 1;
	color: white;
	text-decoration: none;
	background-color: #00E5FF;
}
