@font-face{
	font-family: Gotham;
	src: url("../used_fonts/GOTHAM-LIGHT.TTF") format("truetype");
}

@font-face{
	font-family: GothamMed;
	src: url("../used_fonts/GOTHAM-MEDIUM.TTF") format("truetype");
}

.header > h1, #desc h2, #rev h2#{
	font-family: GothamMed;
}

.address li, .options li a, #backtop + .tooltip > .tooltip-inner, .gallery a{
	font-family: Gotham;
}

.container *{
	margin: 0;
	padding: 0;
}

.container{
	margin: 0;
	min-height: 667px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: -1;
	width: 100%;
}

#head{
	margin-top: 52px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#head h1{
	margin-top: -20px;
}

.header > h1,
.header > ul{
	width: 60%;
	text-align: center;
}

.header > h1{
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 3em;
	filter: blur(-5px);
	background-color: rgba(0,0,0,0.6);
	background-blend-mode: color-dodge;
	padding: 15px 50px 5px 50px;
	border-radius: 5px 5px 0 0;
}

.header > ul{
	border-radius: 0 0 5px 5px;
	list-style: none;
	color: white;
	display: flex;
	justify-content: center;
}

.address{
	background-color: rgba(0,0,0,0.6);
	padding-bottom: 15px;
}

.address li{
	font-size: 1.3em;
	font-weight: bold;
	letter-spacing: 0.5em;
	padding: 5px;
	text-transform: uppercase;
}

.options{
	margin-top: 20px;
}

.options li{
	margin: 10px;
}

.options li a{
	text-decoration: none;
	background-color: #00BCD4;
	padding: 10px 15px;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.2em;
	color: white;
	transition: 0.2s;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border: none;
}

.options li a:hover{
	background-color: #00E5FF;
	color: white;
}

#desc{
	background-color: #90A4AE;
	color: white;
}

#desc h2{
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 0.3em;
	background-color: rgba(0,0,0,0.3);
	padding: 10px 30px;
	width: 50%;
	text-align: center;
}

#desc p{
	width: 50%;
	background-color: rgba(0,0,0,0.2);
	padding: 10px 30px;
	margin-top: 10px;
	line-height: 2em;
	font-family: "Chaparral pro";
	font-size: 1.5em;
	letter-spacing: 0.05em
}

#rev{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#rev h2{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
	font-family: Gotham;
	background-color: white;
	padding: 10px 20px;
	border-radius: 3px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	margin-bottom: 10px;
}

#rev h2 span{
	color: rgba(0,184,212 ,1);
}

/*#post{
	background-color: #CFD8DC;
}

#post p{
	width: initial;
	background-color: rgba(0,0,0,0.2);
	text-transform: uppercase;
	color: white;
	padding: 10px 30px;
	margin-top: 10px;
	letter-spacing: 0.2em;
}*/

#backtop{
	background-color: #0097A7;
	width: 50px;
	height: 50px;
	color: white;
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 3em;
	text-align: center;
	bottom: 20px;
	right: 20px;
	position: fixed;
	border-radius: 50%;
	text-decoration: none;
	border: 2px solid rgba(0,0,0,0);
	box-sizing: border-box;
}

#backtop:hover{
	animation-name: floatupdown;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-color: #00ACC1;
    box-shadow: 0 0 10px white;
    border-color: white;
}

#backtop:hover + .tooltip{
	animation-name: floatupdown;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes floatupdown {
    50%  {transform: translate(0, -10px);}
    100% {transform: translate(0, 0);}
}

#backtop + .tooltip > .tooltip-inner {
    font-weight: bold;
    letter-spacing: 1px;
    background-color: black; 
    color: #FFFFFF;
    padding: 5px 10px;
    font-size: 1.1em;
}

#backtop:focus + .tooltip{
	opacity: 0;
}

.gallery{
	height: 40px;
	overflow: hidden;
	background-color: rgba(0,188,212 ,1);
	border-radius: 3px;
	transition: 0.2s;
	transform: translate(0,50px);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.gallery:hover{
	background-color: rgba(0,229,255 ,1);
}

.gallery:hover > a{
	transform: translate(0, -100%);
}

.gallery:hover > span{
	transform: translate(0, -150%);
}

.gallery a{
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	color: white;
	padding: 10px 15px;
	text-decoration: none;
	transition: 0.2s;
}

.gallery span{
	display: block;
	width: 100%;
	height: 40px;
	transition: 0.2s;
	text-align: center;
	padding: 10px 15px;
	font-size: 1.3em;
	color: white;
}

#post{
	background-color: #CFD8DC;
	padding-top: 100px;
}

#post .post-title{
	color: #555;
	font-family: Gotham;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 0.1em;
	background-color: white;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	padding: 10px 20px;
	border-radius: 3px;
	margin-bottom: 10px;
}

#warning{
	display: none;
	opacity: 0;
	background-color: #E91E63;
	color: white;
	font-family: Arial;
	font-size: 0.9em;
	margin-bottom: 10px;
	padding: 5px 20px;
	border-radius: 3px;
	text-align: center;
	box-sizing: border-box;
	transition: 0.6s;
}

#warning p{
	margin: 0;
	display: inline-block;
}

#warning .closebtn{
	float: right;
	margin-left: 10px;
	line-height: 1em;
	font-size: 1.5em;
	opacity: 0.5;
	transition: 0.2s;
}

#warning .closebtn:hover{
	opacity: 1;
	cursor: pointer;
}