@font-face{
	font-family: Gotham;
	src: url("../used_fonts/GOTHAM-LIGHT.TTF") format("truetype");
}

@font-face{
	font-family: GothamMed;
	src: url("../used_fonts/GOTHAM-MEDIUM.TTF") format("truetype");
}

.header > h1, #desc h2, #rev h2, #post h2, #post p{
	font-family: GothamMed;
}

.address li, .options li a, #backtop + .tooltip > .tooltip-inner, .gallery a{
	font-family: Gotham;
}

.container *{
	margin: 0;
	padding: 0;
}

.container{
	margin: 0;
	min-height: 667px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: -1;
	width: 100%;
}

#head{
	margin-top: 52px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#head h1{
	margin-top: -20px;
}

.header > h1,
.header > ul{
	width: 60%;
	text-align: center;
}

.header > h1{
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 3em;
	filter: blur(-5px);
	background-color: rgba(0,0,0,0.6);
	background-blend-mode: color-dodge;
	padding: 15px 50px 5px 50px;
	border-radius: 5px 5px 0 0;
}

.header > ul{
	border-radius: 0 0 5px 5px;
	list-style: none;
	color: white;
	display: flex;
	justify-content: center;
}

.address{
	background-color: rgba(0,0,0,0.6);
	padding-bottom: 15px;
}

.address li{
	font-size: 1.3em;
	font-weight: bold;
	letter-spacing: 0.5em;
	padding: 5px;
	text-transform: uppercase;
}

.options{
	margin-top: 20px;
}

.options li{
	margin: 10px;
}

.options li a{
	text-decoration: none;
	background-color: #00BCD4;
	padding: 10px 15px;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.2em;
	color: white;
	transition: 0.2s;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.options li a:hover{
	background-color: #00E5FF;
	color: white;
}

#desc{
	background-color: #90A4AE;
	color: white;
}

#desc h2{
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 0.3em;
	background-color: rgba(0,0,0,0.3);
	padding: 10px 30px;
	width: 50%;
	text-align: center;
}

#desc p{
	width: 50%;
	background-color: rgba(0,0,0,0.2);
	padding: 10px 30px;
	margin-top: 10px;
	line-height: 2em;
	font-family: "Chaparral pro";
	font-size: 1.5em;
	letter-spacing: 0.05em
}

#rev h2,
#post h2{
	font-size: 3em;
	color: #666;
	text-transform: uppercase;
	background-color: white;
	padding: 5px 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-radius: 3px;
}

#post{
	background-color: #CFD8DC;
}

#post p{
	width: initial;
	background-color: rgba(0,0,0,0.2);
	text-transform: uppercase;
	color: white;
	padding: 10px 30px;
	margin-top: 10px;
	letter-spacing: 0.2em;
}

#backtop{
	background-color: #0097A7;
	width: 50px;
	height: 50px;
	color: white;
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 3em;
	text-align: center;
	bottom: 20px;
	right: 20px;
	position: fixed;
	border-radius: 50%;
	text-decoration: none;
	border: 2px solid rgba(0,0,0,0);
	box-sizing: border-box;
}

#backtop:hover{
	animation-name: floatupdown;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-color: #00ACC1;
    box-shadow: 0 0 10px white;
    border-color: white;
}

#backtop:hover + .tooltip{
	animation-name: floatupdown;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes floatupdown {
    50%  {transform: translate(0, -10px);}
    100% {transform: translate(0, 0);}
}

#backtop + .tooltip > .tooltip-inner {
    font-weight: bold;
    letter-spacing: 1px;
    background-color: black; 
    color: #FFFFFF;
    padding: 5px 10px;
    font-size: 1.1em;
}

#backtop:focus + .tooltip{
	opacity: 0;
}

.gallery{
	height: 40px;
	overflow: hidden;
	background-color: rgba(0,188,212 ,1);
	border-radius: 3px;
	transition: 0.2s;
	transform: translate(0,50px);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.gallery:hover{
	background-color: rgba(0,229,255 ,1);
}

.gallery:hover > a{
	transform: translate(0, -100%);
}

.gallery:hover > span{
	transform: translate(0, -150%);
}

.gallery a{
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	color: white;
	padding: 10px 15px;
	text-decoration: none;
	transition: 0.2s;
}

.gallery span{
	display: block;
	width: 100%;
	height: 40px;
	transition: 0.2s;
	text-align: center;
	padding: 10px 15px;
	font-size: 1.3em;
	color: white;
}

.review{
	background-color: white;
	margin-top: 20px;
	padding: 20px 40px;
	width: 80%;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	border-radius: 3px;
}

.review form{
	background-color: white;
	border: 1px solid #DDD;
	border-radius: 3px;
	width: 49%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	background-color: rgba(236,239,241 ,0.25);
}

.review form h3{
	font-family: Gotham;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #555;
	text-align: center;
	margin-top: 10px;
}

.review form .hearts{
	display: flex;
	flex-direction: row-reverse;
	max-width: 100%;
	justify-content: space-around;
	/*border: 1px solid #DDD;*/
	margin: 10px 0;
	padding: 0 24%;
}

.review form textarea{
	width: 80%;
	background-color: white;
	border: 1px solid #DDD;
	border-radius: 3px;
	resize: vertical;
	margin: auto;
	max-height: 200px;
	transition: 0.2s;
	height: 42px;
	padding: 10px 15px;
}

.review form textarea:focus{
	height: 200px;
	outline: none;
	border-color: #00B8D4;
}

.review form input[type=submit]{
	margin: 20px auto 10px auto;
	padding: 10px 20px;
	color: white;
	font-family: Gotham;
	border: none;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 3px;
	font-size: 1em;
	letter-spacing: 0.1em;
	background-color: #00BCD4;
	transition: 0.2s;
}

.review form input[type=submit]:hover{
	background-color: #00E5FF;
}

.review input[type=radio]{
	display: none;
}

.review form .hearts label{
	color: #777;
	font-size: 1.5em;
	transition: 0.2s;
}

.review form label:nth-child(10):hover,
.review form label:nth-child(8):hover,
.review form label:nth-child(6):hover,
.review form label:nth-child(4):hover,
.review form label:nth-child(2):hover,

.review form label:nth-child(8):hover ~ label:nth-child(10),

.review form label:nth-child(6):hover ~ label:nth-child(10),
.review form label:nth-child(6):hover ~ label:nth-child(8),

.review form label:nth-child(4):hover ~ label:nth-child(10),
.review form label:nth-child(4):hover ~ label:nth-child(8),
.review form label:nth-child(4):hover ~ label:nth-child(6),

.review form label:nth-child(2):hover ~ label:nth-child(10),
.review form label:nth-child(2):hover ~ label:nth-child(8),
.review form label:nth-child(2):hover ~ label:nth-child(6),
.review form label:nth-child(2):hover ~ label:nth-child(4){
	color: #C2185B;
}

.review form input[type=radio]:checked:nth-child(9) + label,
.review form input[type=radio]:checked:nth-child(7) + label,
.review form input[type=radio]:checked:nth-child(5) + label,
.review form input[type=radio]:checked:nth-child(3) + label,
.review form input[type=radio]:checked:nth-child(1) + label,

.review form input[type=radio]:checked:nth-child(7) + label ~ input[type=radio]:nth-child(9) + label,

.review form input[type=radio]:checked:nth-child(5) + label ~ input[type=radio]:nth-child(9) + label,
.review form input[type=radio]:checked:nth-child(5) + label ~ input[type=radio]:nth-child(7) + label,

.review form input[type=radio]:checked:nth-child(3) + label ~ input[type=radio]:nth-child(9) + label,
.review form input[type=radio]:checked:nth-child(3) + label ~ input[type=radio]:nth-child(7) + label,
.review form input[type=radio]:checked:nth-child(3) + label ~ input[type=radio]:nth-child(5) + label,

.review form input[type=radio]:checked:nth-child(1) + label ~ input[type=radio]:nth-child(9) + label,
.review form input[type=radio]:checked:nth-child(1) + label ~ input[type=radio]:nth-child(7) + label,
.review form input[type=radio]:checked:nth-child(1) + label ~ input[type=radio]:nth-child(5) + label,
.review form input[type=radio]:checked:nth-child(1) + label ~ input[type=radio]:nth-child(3) + label{
	color: #E91E63;
	text-shadow: 0 0 10px white;
}

.review ul{
	background-color: white;
	border: 1px solid #DDD;
	border-radius: 3px;
	width: 49%;
}