*:focus,
*:active{
	outline: none;
}

body{
	padding-bottom: 20px;
}

@font-face{
	font-family: Gotham;
	src: url("../used_fonts/GOTHAM-LIGHT.TTF") format("truetype");
}

@font-face{
	font-family: GothamMed;
	src: url("../used_fonts/GOTHAM-MEDIUM.TTF") format("truetype");
}

.col-sm-6{
	padding: 0;
}

.post-container{
	background-color: white;
	padding: 10px;
	border-radius: 2px;
	width: 100%;
	margin-top: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	position: relative;
}

.posting .profile,
.posted  .profile{
	height: 50px;
	width: 50px; 
	float: left;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	border-radius: 2px;
}

.posting .user-name,
.posted  .user-name{
	font-family: Gotham;
	font-weight: bold;
	font-size: 1.3em;
	float: left; 
	margin: 13px auto 0 10px;
}

.posted > a > .user-name,
.posted > a > .profile{
	display: block;
	color: #333;
	transition: 0.3s;
}

.posted{
	z-index: 0;
}

.posted a:hover > .user-name{
	color: #00B8D4;
}

.posted a:hover > .profile{
	box-shadow: 0 0 5px #00B8D4;
}

.posting{
	position: absolute;
	z-index: 1;
}

.posting > form{
	clear: both;
	display: flex;
	flex-direction: column;
	margin-top: 60px;
}
.posting > form > textarea{
	border-radius: 2px;
	resize: none;
	border-color: #DDD;
	padding: 10px 15px;
	height: 40px;
	overflow: hidden;
	transition: 0.2s;
	margin-bottom: 5px;
}

.posting > form > textarea:focus,
.posting > form > textarea:active{
	height: 100px;
	outline: none;
}

.posting > form > label > input.inputphoto{
	display: none;
}

.posting > form > label[for=photo]{
	background-color: #555;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 2px;
	color: white;
	font-family: Gotham;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 0.8em;
	text-align: center;
}

#posting,
.like button{
	background-color: #00BCD4;
	color: white;
	font-size: 1em;
	font-family: Gotham;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin-left: auto;
	padding: 5px 15px;
	border: none;
	border-radius: 2px;
	transition: 0.3s;
}

#posting:hover,
.like button:hover{
	 background-color: #00E5FF;
}

#image_preview{
	display: hidden;
	max-height: 200px;
	margin: 5px auto 5px auto;
}

.posted{
	overflow: auto;
}

.posted-text{
	clear: both;
	width: 100%;
	padding: 0;
	margin: 15px 0 10px 0;
	text-indent: 10px;
}

.posted > .imagebtn{
	width: 100%;
	margin: 5px 0;
	padding: 0;
	border: none;
	border-radius: 2px;
}

.posted > .imagebtn > img{
	width: 100%;
	height: 250px;
	object-position: center;
	object-fit: cover;
}

a.tagged-location{
	display: block;
	float: left;
	transition: 0.2s;
	padding: 5px 15px;
	margin-top: 5px;
	background-color: #4DD0E1;
	color: white;
	border-radius: 3px;
}

.posted .tagged-location:hover{
	text-decoration: none;
	color: white;
	background-color: #00BCD4;
}

#unavailable{
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	overflow: auto;
}

#unavailable .modal-header{
	background-color: #FFEB3B;
	padding: 10px 15px;
	margin-bottom: 10px;
}

#unavailable .modal-header .close{
	top: 0px;
	right: 10px;
	padding: 0;
	margin: 0;
	position: absolute;
}

#unavailable h2{
	font-family: GothamMed;
	text-transform: uppercase;
	font-size: 1.2em;
	color: white;
	text-shadow: 0 0 15px rgba(0,0,0,0.1);
	text-align: center;
	border-radius: 3px 3px 0 0;
	margin: 0 auto 0 auto;
	letter-spacing: 0.1em;
}

#unavailable #map{
	width: auto;
	height: 300px;
	background-color: #ddd;
	color: white;
	margin-bottom: 10px;
	border-radius: 3px;
}

/*#unavailable input[type=submit]{
	float: right;
	padding: 10px 15px;
	font-family: Gotham;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: white;
	background-color: #00BCD4;
	border-radius: 3px;
	border: none;
	margin: 0 5px 5px 0;
	transition: 0.4s;
}
*/
#unavailable input[type=submit]:hover{
	background-color: #00E5FF;
}

#unavailable span{
	width: auto;
	margin: 5px 0 10px 0;
	text-align: center;
	color: #777;
	padding: 20px 15px 20px 5px;
}

.warning{
	background-color: #FFEB3B;
	color: white;
	font-family: Gotham;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.05em;
	padding: 5px 10px;
	margin: 5px 0 5px 0;
	border-radius: 2px;
}

.warning button{
	background-color: transparent;
	font-family: Gotham;
	font-weight: bold;
	border: 1px solid white;
	color: white;
	text-transform: uppercase;
	border-radius: 2px;
	transition: 0.2s;
}

.warning button:hover{
	background-color: rgba(255,255,255,0.2);
}

.tag-location,
.tag-person{
	padding: 5px 10px;
	margin: 5px 0;
	border-radius: 3px;
	border: 1px solid #DDD;
}

.tagged-people{
	display: flex;
	list-style: none;
	padding: 0 0 5px 5px;
	margin: 5px 0 5px 0;
	border-radius: 3px;
	background-color: #EEE;
}

.tagged-people li{
	background-color: #555;
	color: white;
	margin: 5px 5px 0 0;
	padding: 3px 10px;
	border: 1px solid white;
	border-radius: 3px;
}

span.tagged-location{
	background-color: #555;
	color: white;
	width: 20%;
	padding: 5px 10px;
	border-radius: 3px 0 0 3px;
	float: left;
	margin: 5px 0;
}

#tagged_place{
	width: 80%;
	padding: 5px 10px;
	height: 30px;
	margin: 5px 0;
	background-color: #00BCD4;
	color: white;
	border-radius: 0 3px 3px 0;
	text-align: left;
	float: left;
}

.num-likes{
	color: #00BCD4;
	font-family: Gotham;
	font-weight: bold;
	font-size: 1em;
	padding: 5px;
}

.like{
	float: right;
	margin-top: 5px;
}

.dropdown{
	display: none;
}

.show-dropdown{
	height: 10px;
	width: 10px;
	color: #00BCD4;
	top: 10px;
	right: 15px;
	position: absolute;
	opacity: 0.2;
}

.show-dropdown:hover{
	opacity: 0.5;
}

.show-dropdown:hover + .dropdown,
.dropdown:hover{
	display: flex;
}

.dropdown{
	padding: 0;
	top: 25px;
	right: 15px;
	position: absolute;
	background-color: white;
	list-style: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	flex-direction: column;
}

.dropdown button{
	display: block;
	width: 100%;
	text-align: left;
	background-color: transparent;
	color: #888;
	transition: 0.3s;
	border: none;
	border-bottom: 1px solid #DDD;
}

.dropdown button:hover{
	background-color: #26C6DA;
	color: white;
}

.dropdown .delete:hover{
	color: white;
	background-color: #EC407A;
}

#addplace{
	align-items: center;
	z-index: 3;
}

#unavailable{
	width: 30%;
	margin: auto;
}

#unavailable .modal-body{
	padding: 10px 20px;
}

#unavailable form input[type=text],
#unavailable form textarea{
	display: block;
	width: 100%;
	padding: 5px 15px;
	border: 1px solid #DDD;
	border-radius: 3px;
	margin: 10px 0;
	height: 52px;
	transition: 0.2s;
}

#unavailable form textarea{
	resize: vertical;
}

#unavailable form input[type=text]:focus,
#unavailable form textarea:focus{
	border-color: #00BCD4;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#unavailable form textarea:focus{
	height: 150px;
}

#add_place{
	margin: 0 0 0 auto;
	display: block;
	background-color: #26C6DA;
	border: none;
	border-radius: 3px;
	color: white;
	padding: 10px 15px;
	text-align: center;
	transition: 0.3s;
	font-family: Gotham;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
}

#add_place:hover{
	background-color: #00E5FF;
}

.with-people{
	padding: 0;
	margin: 13px auto 0 10px;
	list-style: none;
	display: flex;
}

.with-people li{
	color: #888;
	padding: 0 0 0 5px;
}

.with-people li a,
.with-people span{
	color: #0091EA;
	cursor: pointer;
}

.with-people span:hover{
	text-decoration: underline;
}

.tagged-panel{
	z-index: 10;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.6);
}

.tagged-panel .modal-content{
	width: 25%;
}

.tagged-panel h2{
	font-size: 1.5em;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 0 30px;
}

.tagged-panel .close{
	font-size: 1.5em;
	color: #111;
	top: 18px;
	right: 15px;
}

.with-people-modal{
	list-style: none;
	padding: 0;
}

.with-people-modal li{
	margin-bottom: 10px;
	border: 1px solid #DDD;
}

.with-people-modal a{
	padding-left: 10px;
}

.with-people-modal img{
	height: 30px;
	width: 30px;
	object-position: center;
	object-fit: cover;
}

.time-date{
	margin-left: 10px;
	color: #BBB;
	font-size: 0.9em;
}