/*<div class="search-filter-sidebar col-sm-3">	
	<h2 class="sidebar-label">SEARCH FILTER:</h2>
	<ul>
		<li><a href="#">PLACES</a></li>
		<li><a href="search_results_people.html">PEOPLE</a></li>
	</ul>
</div>*/	

@font-face{
	font-family: Gotham;
	src: url("../used_fonts/GOTHAM-LIGHT.TTF") format("truetype");
}

.search-type,
.result-people,
.result-place{
	background-color: white;
	text-align: center;
	border-radius: 5px;
	margin-top: 10px;
	border: 1px solid #CFD8DC;
}

.search-type{
	border-width: 1px 1px 0 1px;
	border-radius: 2px 2px 0 0;

}

.label{
	display: block;
	margin: 0;
	color: #666;
	font-family: "Gotham Light";
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 10px;
	border-radius: 2px 2px 0 0;
}

.search-type ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	padding: 10px 30px 0 30px;
	border-bottom: 1px solid #CFD8DC;
}

.search-type ul li{
	margin: 0;
	width: 100%;
	margin-bottom: -2px;
}

.search-type ul li a{
	color: white;
	font-family: "Gotham Light";
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	display: block;
	width: 100%;
	background-color: #CFD8DC;
	border-radius: 5px 5px 0 0;
	border: 1px solid #CFD8DC;
	border-bottom: 1px solid white;
	box-sizing: border-box;
	padding: 5px;
	margin: 0;
	transition: 0.4s;
}

.search-type ul li a:hover{
	text-decoration: none;
	background-color: #80DEEA;
	color: white;
}

.search-type ul li a.active{
	text-decoration: none;
	background-color: white;
	cursor: default;
	color: #666;
}

.search-type ul li:first-child a{
	border-right: 0;
}

.results-container{
	background-color: white;
	overflow: auto;
	margin: auto;
	margin-top: -10px;
	margin-bottom: 50px;
	border-radius: 0 0 5px 5px;
	border: 1px solid #CFD8DC;
	border-top: 0px;
	padding: 3% 0.5% 0.5% 0.5%;
	list-style: none;

}

.result-people{
	float: left;
	width: 49%;
	margin: 0.5%;
	padding: 0;
	text-align: left;
	display: flex;
	/*border: 1px solid #CCC;*/
	overflow: auto;
	border-radius: 2px;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	transition: 0.2s;
}

.result-people:hover{
	box-shadow: 0 0 10px #4DD0E1;
}

.result-people a:hover{
	filter: brightness(110%);
}

.result-people a{
	height: 100px;
	width: 100%;
	display: flex;
	text-decoration: none;
	transition: 0.2s;
}

/*.result-people a:hover{
	text-decoration: none;
	background-color: #A7FFEB;
}

.result-people a:hover h2,
.result-people a:hover .user-details p{
	color: #555;
}*/

.result-people h2{
	color: #666;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 0 10px 0 10px;
}

.result-people img{
	height: 100px;
	width: 100px;
	object-fit: cover;
	object-position: center;
}

.result-people div.user-details p{
	text-overflow: ellipsis;
	white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px 0 10px;
    color: #666;
}

.result-people div.user-details{
	clear: left;
}

.result-place{
	float: left;
	padding: 0;
	width: 49%;
	margin: 0.5%;
	border-radius: 2px;
	border: 1px solid #DDD;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	transition: 0.2s;
}

.result-place:hover{
	box-shadow: 0 0 10px #4DD0E1;
	filter: brightness(110%);
}
.result-place a{
	height: 180px;
	width: 100%;
	color: #666;
	text-decoration: none!important;
}

.result-place img{
	width: 375px;
	height: 180px;
	object-fit: cover;
	object-position: center;
	border-radius: 2px 2px 0 0;
	border-bottom: 1px solid #DDD;
}

.result-place h2{
	padding: 0;
	margin: 0;
	color: #666;
	font-size: 15px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

.result-place h2:hover{
	text-decoration: none;
}

.search-container{
	width: 60%;
	margin: auto;
}

.keyword{
	color: #00BCD4;
}

.keyword:before,
.keyword:after{
	content: "'";
}

#Filter{
    background-image: url('/css/searchicon.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 50%;
    font-size: 16px; 
    padding: 5px 15px; 
    border: 1px solid #ddd; 
    margin-top: 10px; 
    border-radius: 3px;
    outline: none;
}

#Filter:focus,
#Filter:active{
	border-color: rgba(0,188,212 ,0.3);
	box-shadow: 0 0 5px rgba(0,188,212 ,0.3);
}

.no-results-follow{
	display: block;
	width: 30%;
	margin: 0 auto 20px auto;
	color: #888;
	text-align: center;
	border: 1px solid #DDD;
	padding: 10px 15px;
	border-radius: 2px;
	letter-spacing: 0.05em;
}

#follow-head{
	margin: 30px auto 20px auto;
	display: block;
	text-align: center;
	font-family: Gotham;
	color: #777;
}

.pagination{
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

.pagination .active{
	background-color: #CFD8DC;
}